.footer {
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
    position: fixed;
    bottom: 0;
}


.box {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    gap: 10px;
    place-items: center;
}


.footerContent {
    display: flex;
    flex-wrap: wrap;
}



.footerItems {
    font-size: 1.2rem;
    font-weight: 400;
    list-style: none;
    line-height: 3rem;
    margin-right: 10px;
}


.first {

}

.second {}

.third {}